<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <script src="{{url_for('static', filename='scripts/script2.js')}}" defer ></script>
</head>
<body>
    <div id="container">
        <div id="add_item_menu">
            <div class="add_item_menu_text">
                <div class="1">
                    <div class="text234"> Создать заявку: </div>
                    <input id="add_zav" type="text">
                <button id="add_item_zav">
                    <p id="aaa1">добавить</p>
                </button>

            </div>
        </div>
            </div>
        <div id="item_list">

        </div>
    </div>
</body>
</html>